<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<comment> Keys de la aplicación </comment>

	<!-- &amp; (&) -->
	<!-- &lt; (<) -->
	<!-- &gt; (>) -->
	<!-- &quote; (") -->

	<!-- BEG Keys LOG -->
	<entry key="KeyLogEnable">true</entry>
	<entry key="KeyLogTrace">false</entry>
	<entry key="KeyLogPath">C:\Logs\SIRIS</entry>
	<entry key="KeyLogNameApp">siris.siris_api.core</entry>
	<!-- END Keys LOG -->
    
    <!--  DESA -->
	<!--  <entry key="KeyPublic">xBEm3aMd38JeybpgsNDB+zq2vfpfBkKS1fM12fPedOs=</entry> -->
	<!--  PROD -->
	<entry key="KeyPublic">MsqF5JoC53k7mNM7advMH/MqesXKBnL42IdFJF6Pm7c=</entry>
	<entry key="KeyFormatDate">dd/MM/yyyy HH:mm:ss</entry>
	<entry key="KeyTimeoutToken">90</entry><!-- 90 segundos -->
	
</properties>
