<!DOCTYPE html>
<html>

<head>

<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="context-path" th:content="@{/}" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">SIRIS</title>
<link rel="shortcut icon" type="image/x-icon" th:href="@{/resources/imgs/favicon.ico}"/>
<link rel="stylesheet" th:href="@{/resources/bundle/css_pub.css}">
<script th:src="@{/resources/bundle/js_pub.js}"></script>
<script th:inline="javascript">
/*<![CDATA[*/
    jbase.prop.url_login_base = /*[[${T(sbs.siris.web.controller.base.WebProperties).URL_LOGIN_BASE}]]*/ "";
/*]]>*/
</script>    
</head>

<body>

	<div class="sbs-wrapper mdl-layout mdl-js-layout mdl-layout--fixed-header">

		<!-- HEADER -->
		<header th:replace="pub/_sys.header :: header" />

		<div layout:fragment="content" />

		<div th:replace="pub/_sys.footer :: footer" />
	</div>

</body>

</html>
