<div class="mdl-layout__drawer sbs-menu" th:fragment="menu">
    <span class="mdl-layout-title">COOPAC</span>
    <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="javascript:void(0)" onclick="jbase.getOpcionLoadFromMenu('inicio',true, 0)">
            <i class="fas fa-indent"></i>Inicio
        </a>
        <a class="mdl-navigation__link" href="javascript:void(0)" onclick="jbase.getOpcionLoadFromMenu( 'representante_coopac', true, 1)">
            <i class="far fa-address-book"></i>Datos de Representante Legal 
        </a>
        <a class="mdl-navigation__link" href="javascript:void(0)" onclick="jbase.getOpcionLoadFromMenu( 'datos_coopac', true, 2)">
            <i class="far fa-address-book"></i>Datos de la COOPAC
        </a>
        <a class="mdl-navigation__link" href="javascript:void(0)" onclick="jbase.getOpcionLoadFromMenu( 'directivos_coopac', true, 3)">
            <i class="far fa-address-book"></i>Datos de Directivos y Gerente General
        </a>
        <a class="mdl-navigation__link" href="javascript:void(0)" onclick="jbase.getOpcionLoadFromMenu( 'declaracion_coopac', true, 4)">
            <i class="far fa-address-book"></i>Declaraci&oacute;n Jurada
        </a>
        <a class="mdl-navigation__link" href="javascript:void(0)" onclick="jbase.getOpcionLoadFromMenu( 'enviar_solicitud_coopac', true, 5)">
            <i class="far fa-address-book"></i>Enviar Solicitud
        </a>
    </nav>
</div>