
<script th:inline="javascript">
/*<![CDATA[*/
    
	jbase.prop.id_ent_vig = /*[[${T(sbs.siris.web.controller.base.HelperController).getIdEntVig()}]]*/ "";
/*]]>*/
</script>

<!-- BODY-->

<div id="app" class="container navless-container sbs-wrapper" style="display: none;max-width: 90%" layout:fragment="content">

    <div th:replace="base/_sys.submenu :: submenu" />

    <div class="content ">
        
        <div class="row">
        		<div class="col-md-12">
        		
        			<div class="alert alert-warning">
	            		Instrucciones: Aquí se cooca el mensaje de bienvenida e instrucciones. Es posible que se requeriera coloar un archivo adjunto (manual de usuario).
	            	</div>
	            	
	            	<div class="col-md-12">
	               		<div class="form-group row">
	                        <div class="offset-md-3 col-md-6"></div>
	                        
	                        <div class="col-md-3">
	                            <a href="javascript:void(0)" class="btn btn-block mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect sbs-submit"
	                            		@click.prevent="showModuleForm('module/valida_reporte', '-1')">
	                                <span><i class="fas fa-arrow-circle-down"></i>Nuevo Reporte</span>
	                            </a>
	                        </div>
	                   </div>
	               	</div>
        			
        			<div class="md-table">
                            <div class="md-table-content">
                                <!-- table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp responsive-table" id="myTable"-->
                                <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" style="width: 100%;table-layout: fixed;" id="myTable">
                                	<thead>
                                        <tr>
                                            <th class="mdl-data-table__cell--non-numeric">Código</th>
                                            <th class="mdl-data-table__cell--non-numeric">Descripción corta del evento</th>
                                            <th class="mdl-data-table__cell--non-numeric">Fecha evento</th>
                                            <th class="mdl-data-table__cell--non-numeric">Opciones</th>
                                            <th class="mdl-data-table__cell--non-numeric">Estado</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    	<tr v-for="item in model.bandeja">
                                    		<td class="mdl-data-table__cell--non-numeric">{{item.codigo}}</td>
                                    		<td class="mdl-data-table__cell--non-numeric">
                                    			<div style="text-overflow: ellipsis;overflow: hidden;white-space: nowrap">
                                    				<div v-bind:title="item.descCortaEvento" class="tipsbs" v-bind:id="item.idEvento + 'tipsbs'">
                                    					{{item.descCortaEvento}}
                                    				</div>
                                    			</div>
                                    		</td>
                                    		<td class="mdl-data-table__cell--non-numeric">{{item.fechaEventoBandeja}}</td>
                                    		<td class="mdl-data-table__cell--non-numeric">
                                    			<div>
                                    				<a href="javascript:void(0)" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect sbs-button-clean"
                                    					v-if="item.isEditar === '1'"
                                    					@click.prevent="showModuleForm('module/valida_reporte', item.idEvento)"
                                    					>
                                                        <span><i class="fas fa-edit"></i></span>
                                                    </a>
                                    				
                                                    <a href="javascript:void(0)" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect sbs-button-clean" v-if="item.isEliminar === '1'"
                                                    	@click.prevent="eliminar(item.idEvento)">
                                                        <span><i class="fas fa-trash"></i></span>
                                                    </a>
                                                </div>
                                    		</td>
                                    		<td class="mdl-data-table__cell--non-numeric">{{item.descEstado}}</td>
                                    	</tr>
                                	</tbody>
                                	<tfoot>
									    <tr>
									      <td colspan="5"> <ul class="pagination pager" id="myPager" style="float:left; width:70%;"></ul> <span id="total_reg"></span> </td>
									    </tr>
									</tfoot>
                                </table>
                            </div>
                      </div>
        		</div>
        		
        </div>
        
    </div>
</div>

<js layout:fragment="scripts"> <script th:src="@{/resources/bundle/js_app_tablero.js}"></script> </js>
<link rel="stylesheet" th:href="@{/resources/bundle/css_tablero_registro.css}">
<div th:replace="base/_sys.footer :: footer" />