    /* ============================================ LOGIN.HTML ======================================= */
    
    .navbar-empty {
        height: 45px;
    }
    
    .navless-container {
        padding: 95px;
    }
    
    .sbs-header .mx-auto {
        color: #001E6B;
    }
    
    .form-signin {
        width: 100%;
        max-width: 380px;
        padding: 15px;
        margin: 0 auto;
    }
    
    .form-signin .card-header {
        background-color: #A29B96;
        color: #fff;
        font-family: 'Merriweather SBS'
    }
    
    .login-box {
        box-shadow: 0 0 0 1px #e5e5e5;
        border-bottom-right-radius: 2px;
        border-bottom-left-radius: 2px;
        padding: 15px;
    }
    
    .sbs-remember {
        text-align: left;
    }
    
    .sbs-remember .mdl-checkbox__label {
        font-size: 12px;
    }
    
    .form-signin .card-footer {
        background-color: #F2F1F1;
        font-family: 'Merriweather SBS'
    }
    
    .form-signin .card-footer a {
        font-size: 12px;
        color: #001E6B;
    }
    
    .sbs-logo img {
        width: 180px;
    }
    
    .sbs-logo {
        padding-bottom: 5px;
    }